#header{
	margin-left:20px;
}

#searchText{
	width:300px;
	display:inline-block;
	margin-left:30px;
	margin-bottom:10px;
}

#searchBtn{
	margin-left:5px;
	margin-top:-10px;
}

table{
	margin-left:50px;
	margin-right:50px;
}

#insertForm{
	margin-top:100px;
	margin-left:50px;
	width:600px;
}

.form-group{
	width:400px;
}